@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Tilt+Prism&display=swap');
:root {
    --primary-color: #22577A;
    --secondary-color: #38A3A5;
    --accent1-color: #57CC99;
    --accent2-color: #80ED99;

    --heading-font: "Tilt Prism", cursive;
    --paragraph-font: "Diphylleia", serif;

    --nav-background-color:var(--accent2-color)
    --nav-link-color:var(var(--primary-color))
    --nav-hover-link-color:var(--secondary-color)
    --nav-hover-background-color:var(--accent1-color)
}
body {
    diphylleia: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color)

}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}

nav a:link, nav:visited {
    color: var(--nav-link-color);

}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

